<h1 *ngIf="user">Welcome {{ user?.email }}!</h1>

<div *ngIf="!user">
  <input type="text" [value]="email" (input)="email=$event.target.value" placeholder="email">
  <input type="password" [value]="password" (input)="password=$event.target.value" placeholder="password">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="user">
  Logout
</button>